.vagrant
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

# Package managers
wp-content/themes/vaughan-capital/node_modules
wp-content/themes/vaughan-capital/bower_components
wp-content/themes/vaughan-capital/.sass-cache

# Precompiled stuff
wp-content/themes/vaughan-capital/assets/styles/build
wp-content/themes/vaughan-capital/assets/js/main.min.*
wp-content/themes/vaughan-capital/assets/js/plugins.min.*
wp-content/themes/vaughan-capital/assets/js/vendor/bootstrap.*
wp-content/themes/vaughan-capital/assets/js/vendor/jquery.backstretch.js
wp-content/themes/vaughan-capital/assets/js/vendor/jquery.slicknav.js
wp-content/themes/vaughan-capital/style.css
