body {
    min-height: 700px;
    min-height: 100vh;
}

p {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed;
}

h1, h2 {
    margin-top: $line-height-computed*3;
    margin-bottom: $line-height-computed;

    &:first-child {
    	margin-top: 0;
    }
}

h3, h4 {
	em {
		font-weight: normal;
	}
}

hr {
	border: 1px solid $gray-dark;
	margin: $line-height-computed*2 0;
}

blockquote {
	border-left: none;
	margin: 0;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";

	&:before {
		color: #ccc;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}

	p {
		display: inline;
	}

	footer {
		margin-top: $line-height-computed;
		font-style: italic;
		// font-size: $font-size-small;
	}
}