/*
 * Navigation
 */

 .navbar-brand > img {
    display: block;
    position: relative;
    left: -3rem;
    top: -3.5rem;
    width: 20rem;
}

.nav {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;

    /* Override Bootstrap's navigation margins so it can left-align with page */
    > li > a {
        padding-right: $line-height-computed;
        padding-left: $line-height-computed*0.25;
    }
}

.navbar {
    margin: $line-height-computed*3 0;
}

.navbar-default {
    background-color: transparent;
    border: 0;
}


/*
 * Home
 */
 .home {
    background: url('assets/images/home-bg-la.png') no-repeat center center fixed;
    @include bg-cover;

    p {
        margin: 0;
    }

    .site-main {
        min-height: 50vh;
        padding: $line-height-computed*3 0 $line-height-computed*6 0;
    }

    .entry-title {
        display: none;
    }
}

@include md {
	h2.sidebar-line {
		display: inline-block;
		padding-bottom: 2em;
		border-bottom: 4px solid $brand-secondary;
	}
}

/*
 * Internal Pages
 */
.page {

    .entry-header {
        @include make-md-column(4);
    }

    .entry-content {
        @include make-md-column(8);
    }
}

article.page {
    @include clearfix;
}

.content-area {
    @include clearfix;
    padding: $line-height-computed*3 0; 
    margin-bottom: $line-height-computed*3; 
    border-top: 2px solid $brand-secondary;
    border-bottom: 2px solid $brand-secondary;
}

/* Wordpress hack - override header & content area attributes on home (TODO: add unique ID for internal pages) */
.home {
    .content-area {
        padding: 0;
        margin: 0;
        border: 0;
    }
    .entry-header, .entry-content {
        @include make-md-column(12);
    }
}

.header-image {
    width: 100%;
    height: $line-height-computed*16;
    background-repeat: no-repeat;
    background-origin: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-bottom: $line-height-computed*3;
}

/*
 * Services page
 */

 .core-values {
    @include clearfix;
 }

/* Core Values Area */
.core-value {
    @include make-sm-column(4);

    padding-left: 0;

    @include md {
        padding-left: 15px;

        &:first-child {
            padding-left: 0;
        }
    }
}

/*
 * Transactions Page
 */
// Lots of clearfixes because float: left town
.transactions {
    @include clearfix;
    margin: $line-height-computed*3 0;
    color: $gray-darker;

    > section {
        margin-top: $line-height-computed*5;

        > h2 {
            color: $white;
            margin-bottom: $line-height-computed*2;
        }
    }
}

.transaction-set {
    @include clearfix;
    background-color: #efefef;
}

.transaction-item {
    @include make-sm-column(4);
    padding: 2em;
    height: 30em;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    border-right: 1px solid $gray-lighterer;
    border-bottom: 1px solid $gray-lighterer;

    &:last-child {
        border-right: none !important;
    }

    h2, h3, h4 {
        font-weight: normal;
    }

    h2 {
        margin-top: $line-height-computed;
        color: #5B7491;
    }

    h4 {
        em {
            color: $gray-light;
        }
    }
}

.transaction-img {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    background-color: $gray-light;
}

.transaction-descr {
    height: 7em;
}

/*
 * Contact page
 */
.contact {
    blockquote {
        margin-top: $line-height-computed*3;
    }
}
/* Google maps */
.google-maps {
    position: relative;
    margin-bottom: $line-height-computed*3;
    padding-bottom: 50%; /* This is the aspect ratio */
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

/*
 * Footer
 */
footer {
    &.site-footer {
        margin-top: $line-height-computed*3;

        p {
            font-size: $font-size-small;
            color: $gray-light;
        }
    }

    .home &.site-footer {
        p {
            color: $white;
        }
    }

    .disclaimer {
        margin-top: $line-height-computed*0.8;
    }
}