/*
 * All CSS Mobile-First! 
 * ---------------------
 *
 */

/*
 * Navigation
 */

.nav {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;

    /* Override Bootstrap's navigation margins so it can left-align with page */
    > li {

        > a {
            padding-right: $line-height-computed;
            padding-left: $line-height-computed*0.25;
        }
    }

    /* Removes BS's pill background */
    > li > a:hover {
            background-color: transparent;
    }

    // Make footer text smaller
    .site-footer & {
        display: block;
        text-transform: none;
    }
}

.navbar-default {
    background-color: transparent;
}

// Slicknav
//
// menu: show inline menu on mobile
#menu, #masthead {
    display: none;
}

.slicknav_menu {
    display: block;
    background-color: transparent !important;
}

.slicknav_btn {
    background: none;
    margin-top: 12px;
}

.slacknav-brand {
    float: left;
    width: 40%;

    img {
        width: 100%;
    }
}

/*
 * Internal Pages
 */
.page {

    .entry-header {
        @include make-md-column(4);
    }

    .entry-content {
        @include make-md-column(8);
    }

    .sidebar-line {
        margin-top: $line-height-computed*1.5;
        margin-bottom: $line-height-computed*4;
        padding-bottom: 1.2em;
        border-bottom: 4px solid $brand-secondary;
    }
}

article.page {
    @include clearfix;
}

.content-area {
    @include clearfix;
    margin-bottom: $line-height-computed*3;
    padding: 0; 
}

.header-image {
    @include make-md-column(12);
    // width: 100%;
    height: $line-height-computed*16;
    background-repeat: no-repeat;
    background-origin: center;
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-bottom: $line-height-computed*3;
}

/*
 * Services page
 */

 .core-values {
    @include clearfix;
 }

/* Core Values Area */
.core-value {
    @include make-sm-column(4);

    padding-left: 0;

    @include md {
        padding-left: 15px;

        &:first-child {
            padding-left: 0;
        }
    }
}

/*
 * Transactions Page
 */
.transactions {
    margin: $line-height-computed*3 0;
    color: $gray-darker;

    > section {
        margin-top: $line-height-computed*5;

        > h2 {
            margin-bottom: $line-height-computed*2;
        }
    }
}


.transaction-item {
    @include make-sm-column(4);
    padding: 2em 1em;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid $gray-lighterer;

    h2, h3, h4 {
        font-weight: normal;
    }

    h2 {
        margin-top: $line-height-computed;
        color: #5B7491;
    }

    h4 {
        em {
            color: $gray-light;
        }
    }
}

.transaction-img {
    @include make-row();
    margin: 0 auto;
    box-shadow: 0 1.5px 10px rgba(20,20,20,0.2);
    
    > img {
        position: relative;
        width: 100%;
        bottom: 15%;
    }
}

.transaction-descr {
    height: 7em;
}

/*
 * Team page
 */
.team-mate {
    margin-bottom: $line-height-computed*4.6;
}

/*
 * Contact page
 */
.contact {
    blockquote {
        margin-top: $line-height-computed*3;
    }
}
/* Google maps */
.google-maps {
    position: relative;
    margin-bottom: $line-height-computed*3;
    padding-bottom: 50%; /* This is the aspect ratio */
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

/*
 * Footer
 */

// Hide footer on mobile
#nav_footer {
    display: none;
}

.site-footer {
    background-color: $gray-darker;
    padding-top: $line-height-computed*3;
    padding-bottom: $line-height-computed*4;
    border-top: 2px solid $brand-secondary;
    text-align: center;

    p {
        margin: 0;
        font-size: $font-size-small;
        font-style: italic;
        color: $gray-light;
    }
}

// Legal disclaimer text
.disclaimer {
    margin-top: $line-height-computed*0.8;
}



/*
 * Home
 */
 .home {
    background: url('assets/images/home-bg-la.png') no-repeat center center fixed;
    @include bg-cover;

    .entry-content {
        @include make-md-column(12);

        p {
            font-size: $font-size-large;
        }
    }

    p {
        margin: 0;
    }

    .site-main {
        min-height: 50vh;
        padding: $line-height-computed*6 0 $line-height-computed*6 0;
    }

    .entry-header {
        display: none;
    }

    // Don't display borders from header & footer on home
    .navbar, footer.site-footer {
        border: 0;
    }

    // Make home footer text white
    .site-footer p {
        color: $white;
    }

}

/*
 * Media Queries
 * -------------
 * See _mediaqueries.scss for details
 */

// Medium 
@include md {

    body {
        border: 1.1rem solid #fff;

        // Decorative fixed white borders on top of body
        &:before, &:after {
            z-index: 99999;
            content: "";
            position: fixed;
            background: #fff;
            left: 0;
            right: 0;
            height: 1.1rem;
        }
    
        &:before {
            top: 0;
        }
    
        &:after {
            bottom: 0;
        }
    }
   
    /*
     * Navigation
     */ 

    // On larger screens, hide slicknav and show inline menu
    #menu, #masthead {
        display: block;

    }

    .slicknav_menu {
        display: none;
    }

    .navbar {
        padding: $line-height-computed*3 0;
        border-bottom: 2px solid $brand-secondary;
    }

    .navbar-brand > img {
        display: block;
        position: relative;
        left: -3rem;
        top: -3.5rem;
        width: 20rem;
    }

    /*
     * Content
     */

    // Underline on sidebar title
    .page {
        .sidebar-line {
            display: inline-block;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    // Hide from home (overriden by page because .home is also .page)
    .home {
        .sidebar-line {
            display: none;
        }
    }

    .content-area {
        padding: $line-height-computed*3 0; 
    }

    .home {
        .site-main {
            min-height: 50vh;
            padding: $line-height-computed*3 0 $line-height-computed*6 0;
        }
    }

    .transaction-set {
        display: table;
        border-collapse: collapse;
    }

    .transaction-item {

        // A horrible (yet seemingly inevitable) mess of hacks to get proper borders
        display: table-cell;
        padding: 2em;
        border: 1px solid $gray-lighterer;

        .row &:first-child {
            border-right: 0;
        }

        .row &:last-child {
            border-left: 0;
        }

        .row:first-child & {
            border-top: 0;
        }

        .row:last-child & {
            border-bottom: 0;

            &:first-child {
                border-right: 1px solid $gray-lighterer;
            }
        }

        .row &:first-child {
            border-left: 0;
        }

        .row &:last-child {
            border-right: 0;
        }
    }

    // Display footer
    #nav_footer {
        display: block;
    }

    .site-footer {
        background: none;
        text-align: left;
    }
}